{% block menu %}
<script>

function locate(url){
    window.location.href=url;
}

</script>
<div id=menubox>
    <span class=mbtn onclick="locate('/')" > HOME </span>
    <span class=mbtn onclick="locate('/nodes')" >  LIST ALL NODES </span>
    <span class=mbtn onclick="locate('/infrastructure')"  >  INFRASTRUCTURE </span>
    <span class=mbtn onclick="locate('/guage')"  > CLUSTER DASHBOARD </span>  
    <span class=mbtn onclick="locate('/elastic')"  >  ELASTIC SEARCH </span>
    <span class=mbtn onclick="locate('/utilities')"  >  UTILITIES </span>
</div>
{% endblock %}  